<script setup lang="ts">
import { ref } from 'vue';

const awesome =  ref(true)
function toggle(){
    awesome.value= !awesome.value
}
</script>

<template>
<button @click="toggle()">toggle{{ awesome }}</button>
<h1 v-if = "awesome">Vue is awesome</h1>
<h1 v-else>Oh no</h1>
</template>

<style scoped></style>